<div class="center" ng-controller="MainCtrl as mainCtrl">

    <h1>Todo Widget</h1>

    <form name="newTaskForm" no-validate ng-submit="mainCtrl.addTask(mainCtrl.newTask)">
        <div class="form-group">
            <!-- LP text input UI component -->
            <div lp-text-input="lp-text-input" placeholder="Enter a task description..." label="Enter a new task:" required ng-model="mainCtrl.newTask.description"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn" ng-class="{'btn-success': newTaskForm.$valid, 'btn-danger': newTaskForm.$invalid}" ng-disabled="newTaskForm.$invalid">Add Task</button>
        </div>
    </form>

    <!-- LP list component -->
    <div lp-list="lp-list" ng-cloak>
        <!-- LP list item component -->
        <div lp-item="lp-item" ng-repeat="task in mainCtrl.tasks track by task.id" ng-class="{'bt-todo-done': task.done}">
            <!-- LP list item cell component -->
            <div lp-item-cell="lp-item-cell" width="1">
                <input type="checkbox" ng-change="mainCtrl.toggleTask(task)" ng-model="task.done" />
            </div>
            <div lp-item-cell="lp-item-cell" class="task-description" width="8">
                {{task.description}}
            </div>
            <div lp-item-cell="lp-item-cell" width="3">
                <button class="btn btn-xs btn-danger" ng-click="mainCtrl.removeTask(task)"></i> Remove</button>
            </div>
        </div>
    </div>

</div>
