.bt-todo-list,
.bt-todo-notodos,
.bt-todo-label {
	margin: 0;
}

.bt-todo-item {
	line-height: 34px;
	padding: 5px 15px;
}

.bt-todo-completed label {
	text-decoration: line-through;
}

/*
 * STEP 2: Hint: search for btn-danger in variables.less of your theme
 */

/*
 * STEP 4: The following goes in the theme:
 */

.bt-todo-item button {
	//display: none;
	visibility: hidden;
}

.bt-todo-item:hover button {
	//display: inline-block;
	visibility: visible;
}